@import '~@studyportals/styles-abstracts/variables/colors';
.WhiteBox {
    border-radius: 10px;

    background-color: $White;

    -webkit-box-shadow: 0 4px 8px 0 rgba(63,92,110,.15);
    box-shadow: 0 4px 8px 0 rgba(63,92,110,.15);
}